<%- include ('partials/header') %>
<div>
	<% if(data["Response"]==='True'){ %>
<table class="table table-hover">
  <thead>
    <tr>
		<th scope="col" style="text-align:center margin:auto"><i >MOVIEMATE</i></th>
     
    </tr>
  </thead>
  <tbody>
    <tr class="table-danger">
      <th scope="row">MOVIENAME:-</th>
      <td class="table-danger"><%= data["Title"] %></td>
     
    </tr>
    <tr class="table-danger">
      <th scope="row">RELEASED ON:-</th>
      <td class="table-danger"><%= data["Released"] %></td>
      
    </tr>
    <tr class="table-danger">
      <th scope="row">LANGUAGES:-</th>
      <td><%= data["Language"] %></td>
      
    </tr>
	  <tr class="table-danger">
      <th scope="row">TYPE:-</th>
      <td class="table-danger"><%= data["Genre"] %></td>
      
    </tr>
	   <tr class="table-danger">
      <th scope="row">PLOT:-</th>
      <td class="table-danger"><%= data["Plot"] %></td>
      
    </tr>
	  <tr class="table-danger">
      <th scope="row">DIRECTOR:-</th>
      <td class="table-danger"><%= data["Director"] %></td>
      
    </tr>
	  <tr>
	  <tr class="table-danger">
      <th scope="row">WRITER:-</th>
      <td class="table-danger"><%= data["Writer"] %></td>
      
    </tr>
	   <tr class="table-danger">
      <th scope="row">ACTORS:-</th>
      <td class="table-danger"><%= data["Actors"] %></td>
    </tr>
	  <tr class="table-danger">
      <th scope="row">COUNTRY:-</th>
      <td class="table-danger"><%= data["Country"] %></td>
    </tr>
	   <tr class="table-danger">
      <th scope="row">AWARDS:-</th>
      <td class="table-danger"><%= data["Awards"] %></td>
    </tr>
	    <tr class="table-danger">
      <th scope="row">RATINGS:-</th>
      <td class="table-danger"><%= data["imdbRating"]+"/10.0"%></td>
    </tr>
  </tbody>
</table>
</div>

<div style="margin-left:600px">
	
<button class="btn-lg btn-primary btn-success margin:auto">
	<a href="/search">Search Again</a>
</button>
</div>

<%}	else  {%>
<div style="margin-top:200px">
  <h1 style="text-align:center ">
	  MOVIE NOT FOUND !!!PLEASE SEARCH AGAIN**
</h1>
<div style="margin-left:600px">
	
<button class="btn-lg btn-primary btn-success">
	<a href="/search">Search Again</a>
</button>
</div>
</div>
<% } %>	
<%- include ('partials/footer') %>		

       